{
  "hashiko": "YOUR_TELEGRAM_BOT_TOKEN",
  "samantha": "YOUR_TELEGRAM_BOT_TOKEN",
  "xiao_tian": "YOUR_TELEGRAM_BOT_TOKEN",
  "authorized_telegram_id": 0000000000,
  "openrouter-api_key": "sk-or-v1-your-openrouter-api-key-here",
  "deepseek-api_key": "sk-your-deepseek-api-key-here",
  "kasumi": "YOUR_TELEGRAM_BOT_TOKEN",
  "brave_api_key": "YOUR_BRAVE_API_KEY"
}
